.flexbox-container {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    align-items: top;
}

.flexbox-container > div {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
}

.math-highlight {
    color: #de8f05; 
}

.grid-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-2row {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.flex-column {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}